body{
    background-color: rgb(245, 243, 243);
    background-image: url('/static/Images/bg1.jpg');
    background-repeat: no-repeat;
    z-index: 222;
}
.img {
    width: 100vw;
    height: 70vh;
    margin: 0 10px 0 10px;
}
